<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>2-Factor Authentication</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>2-Factor Authentication</h1>

<div>
    <img th:src="'data:image/png;base64,' + ${qrCode}" alt="QR Code" />
</div>

<form action="#" th:action="@{/2auth}" method="post">
    <label for="code">Enter the code from your app:</label>
    <input type="text" id="code" name="code">
    <button type="submit">Verify</button>
</form>

<p th:text="${message}"></p>
</body>
</html>
